body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}
/* Typography */
h1{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 30px;
}
h2{
    font-size: 40px;

}
h3{
    font-size: 24px;
}
p{
    font-size: 18px;
    color: #828282;
    margin: 0;
    padding-bottom: 45px;
    line-height: 32px;
}
a{
    text-decoration: none;
    padding: 15px 25px;
    border: 1px solid #828282;
    border-radius: 30px;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    color: white;
    font-weight: 500;
}
.hero{
    display: flex;
    justify-content: space-between;
    background-color: #e5e5e5;
    height: 100vh;
    align-items: center;
    padding: 0 100px;
}
.hero span{
    color: #FC8E49;
}
.hero > * {
    flex-basis: 100%;
}
/* About me */
.about{
    display: flex;
    align-items: center;
    /* height: 500px; */
    padding: 50px 130px 0 130px;
    background-image: url(./Images/second-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about > *{
    flex-basis: 100%;
}
.about img{
    width: 340px;
    margin-bottom: -4px;
    padding: 0;
}
/* Recipe */
.recipe{
    background-color: #e5e5e5;
    margin: 0;
    padding: 50px 0;
}
.intro h3{
    text-align: center;
}
.intro p{
    text-align: center;
    padding: 0 370px;
}
.recipies{
    display: flex;
    align-items: center;
    width: 1000px;
    margin: auto;
}
.recipies >*{
    flex-basis: 100%;
}
.recipe1{
    padding: 30px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 30px;
}
.recipe2{
    padding: 30px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 30px;
}